@using BlazorBootstrap
@using JobScraper.Web.Blazor.Components
@using JobScraper.Web.Common.Entities
@using JobScraper.Web.Common.Models
@using JobScraper.Web.Features.Cv.Components
@using JobScraper.Web.Features.Cv.PdfGeneration
@using Wolverine

<Modal @ref="_modal" Title="Prepare CV for offer" Fullscreen="ModalFullscreen.Always">
    <BodyTemplate>
        <div class="row h-100">
            <div class="col-md-3">
                <MarkdownDiffEditor
                    @ref="_diffEditor"
                    InitOriginalContent="@OriginalContent"
                    InitModifiedContent="@ModifiedContent"
                    Inline />
            </div>

            <div class="col-md-3">
                @if (_offer.OfferUrl.StartsWith("http"))
                {
                    <button class="btn btn-primary" @onclick="GenerateCv">Generate CV</button>
                }
                <br/>
                <br/>

                @if (!string.IsNullOrEmpty(_offer.AiSummary))
                {
                    <h4 style="color: #FFC2B2">Ai Summary:</h4>
                    <span style="white-space: pre-line">
                        @_offer.AiSummary
                    </span>
                }

            </div>
        </div>
        <div class="row">
            @if (chatHistory.Count > 0)
            {
                <ChatHistory Items="chatHistory"/>
            }
        </div>
    </BodyTemplate>
</Modal>

@inject IMessageBus MessageBus

@code {
    private Modal _modal = null!;
    private UserOffer _offer = null!;
    private MarkdownDiffEditor _diffEditor = null!;
    private List<ChatItem> chatHistory = [];

    private readonly string OriginalContent = TestData.BaseCv;
    private readonly string ModifiedContent = TestData.ModifiedCv;
    protected override async Task OnInitializedAsync()
    {
    }

    public async Task ShowAsync(UserOffer userOffer)
    {
        _offer = userOffer;
        await _modal.ShowAsync();
    }

    private async Task GenerateCv()
    {
        var mdContent = await _diffEditor.GetModifiedValueAsync();
        if (string.IsNullOrWhiteSpace(mdContent))
        {
            return;
        }

        var cvContent = new CvContent(mdContent);
        var layoutConfig = new LayoutConfig();
        var command = new GenerateCvPdfFromMarkdown.Command(cvContent, layoutConfig);
        var pdfFile = await MessageBus.InvokeAsync<byte[]>(command);
    }

    private async Task Hide()
    {
        await _modal.HideAsync();
    }

}
