@page "/login"
@using BlazorBootstrap
@using Mediator
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

<PageTitle>Login</PageTitle>

<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="10000" Placement="ToastsPlacement.TopRight"/>

<EditForm Model="Model" OnValidSubmit="HandleLogin" FormName="LoginForm" Enhance>
    <DataAnnotationsValidator/>

    <div>
        <label>Username:</label>
        <InputText @bind-Value="Model.Login" class="form-control"/>
    </div>
    <div>
        <label>Password:</label>
        <InputText @bind-Value="Model.Password" type="password" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary">Log in</button>
</EditForm>

@inject IMediator Mediator
@inject IHttpContextAccessor HttpContextAccessor

@code {
    [SupplyParameterFromForm]
    public LoginDto Model { get; set; } = new();

    private async Task HandleLogin()
    {
        var cancellationToken = HttpContextAccessor.HttpContext!.RequestAborted;
        var result = await Mediator.Send(Model, cancellationToken);

        if (result.IsError)
        {
            PushNotification(result.FirstError.Description, ToastType.Danger);
            return;
        }

        var token = result.Value.Token;
        HttpContextAccessor.HttpContext.Response.Cookies.Append("access_token", token, new CookieOptions
        {
            HttpOnly = true,
            Secure = true,
            SameSite = SameSiteMode.Strict,
            Expires = DateTime.UtcNow.AddHours(1),
        });

        HttpContextAccessor.HttpContext.Response.Redirect("/");
    }

    readonly List<ToastMessage> messages = [];

    private void PushNotification(string message, ToastType toastType = ToastType.Success) =>
        messages.Insert(0, new ToastMessage
        {
            Type = toastType,
            Message = message,
        });
}
